/*CSS*/
@charset "UTF-8";
body{
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.Clear {
	clear: both;
}

#header{
	min-height: 80px;
}

#banner{
	width: 1024px;
	margin: 0px auto;
	position: relative;
}
#banner img{
	width: 100%;
}
#banner img.bannerFront{
	position: absolute;
	z-index: 6;
}
#banner img.bannerBack{
	position: relative;
	z-index: 5;
}